
@import "custom_bootstrap_vars";
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/toastr/toastr.scss";

$fa-font-path:  "../fonts/";
@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid.scss";


// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $white;
  color: $black;
}

.alert-error {
  background-color: $red;
  border-color: $red;
  color: $black;
}

.fill {
  flex: 1;
}