
@import "custom_bootstrap_vars";
@import "bootstrap";

$fa-font-path:  "../fonts/";
@import "fontawesome";
@import "solid";
@import "brands";


// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $white;
  color: $black;
}

.alert-error {
  background-color: $red;
  border-color: $red;
  color: $black;
}

.fill {
  flex: 1;
}