
@import "custom_bootstrap_vars";
@import "bootstrap";
@import "coreui";
$fa-font-path:  "../fonts/";
@import "font-awesome";


@import "bootstrap_social/bs_social";

// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $white;
  color: $black;
}

.alert-error {
  background-color: $red;
  border-color: $red;
  color: $black;
}

.fill {
  flex: 1;
}