{% extends "base.html" %}
{% load i18n humanize %}
{% block title %}{{ object }}{% endblock title %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'workshop_list' %}">Workshops</a></li>
    <li class="breadcrumb-item active">{{ object }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col-auto">
            <h3>{{ object}}</h3>
        </div>
        <div class="col-auto flex-grow-1">
            <div class="btn-group float-right" role="group" aria-label="Workshop Buttons">
                <a class="btn btn-primary" href="{% url 'workshop_problems' object.id %}">Edit Problems <i class="fa fa-edit ml-1"></i></a>
                <a class="btn btn-success" href="{% url 'workshop_present' object.id %}">Present <i class="fa fa-chalkboard-teacher ml-1"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-auto nav-pills mb-1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {% for item in object.problems.all %}
                <a class="nav-link  {% if forloop.first %}active{% endif %}" id="v-pills-{{ item.id }}-tab" data-toggle="pill" href="#v-pills-{{ item.id }}" role="tab" aria-controls="v-pills-{{ item.id }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ item }}</a>
            {% endfor %}
        </div>
        <div class="tab-content col-auto flex-grow-1" id="v-pills-tabContent">
            {% for item in object.problems.all %}
                <div class="tab-pane  {% if forloop.first %}show active{% endif %} " id="v-pills-{{ item.id }}" role="tabpanel" aria-labelledby="v-pills-{{ item.id }}-tab">
                <div class="row">
                    <div class="col-auto">
                        <h4>{{ item.title }}</h4>
                    </div>
                    <div class="col-auto flex-grow-1">
                        <div class="btn-group float-right" role="group" aria-label="problem_buttons">
                            <a class="btn btn-primary btn-sm" href="{% url "problem_detail" item.pk %}">Edit this problem <i class="fa fa-edit ml-1"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" href="{% url 'problem_delete' item.pk %}">Remove Problem <i class="fas fa-minus ml-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <code>
                        <pre>{{ item.skeleton | linenumbers | linebreaks }}</pre>
                    </code>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <footer>
    {% if object.code %}<p class="small">This workshop currently has code {{ object.code }}</p>{% endif %}
    </footer>
{% endblock content %}
