{% extends "base.html" %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'workshop_list' %}">Workshops</a></li>
    <li class="breadcrumb-item "><a href="{% url 'workshop_detail' object.id %}">{{ object }}</a></li>
    <li class="breadcrumb-item active">Present</li>
{% endblock breadcrumbs %}
{% block content %}
    <div class="row">
        <div class="col">
            <h3>{{ object}}<span class="ml-3 badge badge-dark {% if not object.active %}d-none{% endif %}" id="badge_in_progress">In Progress</span></h3>
        </div>
        <div class="col">
            <div class="btn-group float-right" role="group" aria-label="Workshop Buttons">
                <button class="btn btn-info" data-toggle="modal" data-target="#codeModal">Show Code</button>
                {% if not object.active %}
                    <input type="hidden" id="input_toggle_value" value="true">
                    <button class="btn btn-success" id="btn_workshop_toggle">Begin Workshop</button>
                {% else %}
                    <input type="hidden" id="input_toggle_value" value="false">
                    <button class="btn btn-danger"  id="btn_workshop_toggle">End Workshop</button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col mb-1">
        <div class="btn-group btn-group-sm" role="group" id="btn-group-problem-select" aria-label="Problem Select">
        {% for problem in object.problems.all %}
            <button type="button" class="btn btn-secondary problem-button" value="{{ problem.id }}">{{ problem }}</button>
        {% endfor %}
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col">
        <ul class="nav nav-tabs" id="graphTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="status-tab" data-toggle="tab" href="#tab-status" role="tab" aria-controls="home" aria-selected="true">Status Graph</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="results-tab" data-toggle="tab" href="#tab-results" role="tab" aria-controls="profile" aria-selected="false">Results Graph</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="time-tab" data-toggle="tab" href="#tab-time" role="tab" aria-controls="contact" aria-selected="false">Time Graph</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-status" role="tabpanel" aria-labelledby="status-tab"><canvas id="status_graph"></canvas></div>
            <div class="tab-pane fade" id="tab-results" role="tabpanel" aria-labelledby="results-tab"><canvas id="results_graph"></canvas></div>
            <div class="tab-pane fade" id="tab-time" role="tabpanel" aria-labelledby="time-tab"><canvas id="time_graph"></canvas></div>
        </div>
    </div>
    </div>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="codeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="codeModalLabel">Session Code for {{ object }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
            <h1 class="workshop_code display-1 text-center">{% if object.code %}{{ object.code }}{% else %}Start the workshop first!{% endif %}</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <script>


        var status_chart_context = document.getElementById('status_graph').getContext('2d');
        var status_chart = new Chart(status_chart_context, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: ["Online", "Attempted", "Passed"],
                datasets: [{
                    label: "Users",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 0, 0],
                }]
            },

            // Configuration options go here
            options: {}
        });

        var results_chart_context = document.getElementById('results_graph').getContext('2d');
        var results_chart = new Chart(results_chart_context, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: ["Accepted", "Wrong Answer", "Time Limit", "Compilation", "Runtime"],
                datasets: [{
                    label: "Count",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 0, 0, 0, 0],
                }, {
                    label: "Current",
                    backgroundColor: 'rgb(109,255,76)',
                    borderColor: 'rgb(109,255,76)',
                    data: [0, 0, 0, 0, 0],
                }]
            },

            // Configuration options go here
            options: {}
        });


        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/manage_workshop/'+ {{ object.id }} + '/');

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var action = data["action"];
            console.log(data);
            if (action === "workshop_toggle"){
                if (data.workshop_state) {
                    toastr.info("This workshop has now started");
                    $("#btn_workshop_toggle").removeClass("btn-success").addClass("btn-danger").text("End Workshop");
                    $("#input_toggle_value").val("false");
                    $("#badge_in_progress").removeClass("d-none");
                    $(".workshop_code").text(data["ws_code"]);
                } else {
                    toastr.info("This workshop has now ended");
                    $("#btn_workshop_toggle").removeClass("btn-danger").addClass("btn-success").text("Begin Workshop");
                    $("#input_toggle_value").val("true");
                    $("#badge_in_progress").addClass("d-none");
                    $(".workshop_code").text("Start the workshop First!");

                }

            }
            if (action === "graph_update"){
                status_chart.data.datasets[0].data=[data["count"], data["attempted"], data["passed"]];
                status_chart.update()
            }

        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };


        $("#btn_workshop_toggle").click(function(){
            chatSocket.send(JSON.stringify({
                "action": "workshop_toggle",
                "workshop_id": {{ object.id }},
                "workshop_state": $("#input_toggle_value").val() === 'true'
            }))

        });

        $(".problem-button").click(function(event){
            chatSocket.send(JSON.stringify({
                "action": "problem_select",
                "workshop_id": {{ object.id }},
                "problem_id": event.target.value
            }))
        })




    </script>
{% endblock %}