{% extends "base.html" %}
{% load i18n django_tables2 crispy_forms_filters %}
{% block title %}{% trans "Workshops" %}{% endblock title %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">Workshops</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3>Workshops</h3>
        </div>
        <div class="col">
            <div class="btn-group float-right" role="group" aria-label="Workshop Buttons">
                <a class="btn btn-primary" href="{% url 'workshop_new' %}">Create a new Workshop <i
                        class="fa fa-plus ml-1"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            {% render_table table %}
        </div>
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <h4>Filter Workshops</h4>

                    <form action="" method="get">
                    {{ filter.form | crispy }}
                    <button type="submit" class="btn btn-primary btn-block">Search <i class="fa fa-search ml-1"></i></button>
                </form>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
