{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome{% endblock title %} | Programdom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-96x96.png' %}" sizes="96x96">


    {% block css %}


        <!-- Your stuff: Third-party CSS libraries go here -->

        <!-- This file stores project-specific CSS -->

        <link href="{% static 'css/project.min.css' %}" rel="stylesheet">


    {% endblock %}

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            Programdom
        </a>

        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">
                <a class="nav-link" href="#">Home</a>
            <li class="nav-item px-3">
            </i><a class="nav-link" href="#">{{ user }}</a>
            </li>
        </ul>

    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <i class="fa fa-home nav-icon"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'module_list' %}">
                            <i class="fa fa-puzzle-piece nav-icon"></i> Modules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-chalkboard"></i> Workshops</a>
                    </li>

                    </li>
                </ul>
            </nav>
            <button class="sidebar-minimizer sidebar-toggler brand-minimizer" type="button"></button>
        </div>
        <main class="main">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </ol>
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </main>

    </div>


    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

        <script src="{% static 'js/vendors.js' %}"></script>



        <!-- place project specific Javascript in this file -->

        <script src="{% static 'js/project.js' %}"></script>


    {% endblock javascript %}
    </body>
</html>
