{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome{% endblock title %} | Programdom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Aaron Walker (aaw13 at aber dot ac dot uk)">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->



    {% block css %}


        <!-- Your stuff: Third-party CSS libraries go here -->

        <!-- This file stores project-specific CSS -->

        <link href="{% static 'css/project.min.css' %}" rel="stylesheet">


    {% endblock %}

</head>
{% block body %}
<body class="app header-fixed">
    <header class="app-header">
        <a class="navbar-brand ml-2" href="#">
            Programdom
        </a>
    </header>
    <div class="app-body">

        <main class="main">
            {% block messages %}
                <div class="container-fluid">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                </div>
            {% endblock messages %}
            {% block content %}{% endblock %}

        </main>

    </div>


    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

        <script src="{% static 'js/vendors.js' %}"></script>



        <!-- place project specific Javascript in this file -->

        <script src="{% static 'js/project.js' %}"></script>


    {% endblock javascript %}
    </body>
{% endblock body %}
</html>
