{% extends "base.html" %}
{% load i18n humanize %}
{% block title %}{{ object.code }}{% endblock title %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'module_list' %}">Modules</a></li>
    <li class="breadcrumb-item active">{{ object.code }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <h2>{{ object }}</h2>
    <h5 class="text-muted">{{ object.code }}</h5>
    <div class="row">
        <div class="col-lg-8 pull-left">
            <div class="card">
                <div class="card-header bg-primary">
                    Available workshops
                </div>
                <div class="card-body">
                    {% if not object.workshop_set.all %}
                        <p class="centered">They are currently no workshops available - check back later</p>
                    {% else %}
                        <div class="card-columns">
                            {% for workshop in object.workshop_set.all %}

                                <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">{{ workshop.title }} <span class="badge badge-secondary">{{ workshop.problem_set.count }}</span></h4>
                                <button type="button" class="btn btn-primary btn-block">
                                    Go to Workshop
                                </button>
                            </div>
                          </div>
                        </div>

                            {% endfor %}
                        </ul>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}