{% extends "base.html" %}
{% load i18n humanize %}
{% block title %}{{ object.code }}{% endblock title %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'module_list' %}">My Modules</a></li>
    <li class="breadcrumb-item active">{{ object.code }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <h2>{{ object }}</h2>
    <h5 class="text-muted">{{ object.code }}</h5>
    <div class="row">
    <div class="col-lg-4 pull-right">
    </div>
    <div class="col-lg-8 pull-left">
        <div class="card">
            <div class="card-header bg-primary">
                Avalable workshops
            </div>
            <div class="card-body p-0 ">
                {% if not object.workshop_set %}
                    <p>They are currently no workshops available - check back later</p>
                {% else %}
                    <ul class="list-group border-0">
                        {% for workshop in object.workshop_set.all %}
                            <li class="list-group-item">
                                {{ workshop.title }}
                            </li>

                        {% endfor %}
                    </ul>

                {% endif %}
            </div>
        </div>
    </div>
    </div>

{% endblock content %}