{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'problem_list' %}">Problems</a></li>
    <li class="breadcrumb-item active">{{ object }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>{% block title %}{{ object }}{% endblock title %}</h2>
        </div>
        <div class="col">
            <div class="btn-group float-right" role="group" aria-label="Workshop Buttons">
                <a class="btn btn-danger" href="{% url 'problem_delete' object.id %}">Delete Problem <i
                        class="fa fa-trash ml-1"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow mb-3">
                <div class="card-body">
                    <h4 class="card-title">Problem Details</h4>
                    {% crispy form %}
                </div>
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title">Problem Tests</h4>
                        </div>
                        <div class="col">
                            <a class="btn btn-success float-right" href="{% url "problem_test_new" object.id %}">New Test
                                <i class="fa fa-plus ml-1"></i></a>
                        </div>
                    </div>

                    {% for test in object.problemtest_set.all %}
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class=""><a href="{% url "problem_test_update" object.id test.id%}">{{ test }}</a></td>
                                    <td class=""><a class="btn btn-danger" href="{% url "problem_test_delete" object.id test.id %}"><i class="fa fa-trash"></i></a></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    {% empty %}
                        <p>No tests exist for this Problem</p>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="container-fluid">
                <div id="editor">{{ object.skeleton }}</div>
                <button class="btn btn-success mt-2 float-right" id="btn-save-code">Save Code <i class="fa fa-save ml-1"></i></button>
            </div>
        </div>
    </div>

{% endblock content %}





{% block javascript %}
    {{ block.super }}

    <script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/{{ object.language.mode }}");
    </script>
    {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>
    <script>


    $("#btn-save-code").click(function(){


        $.ajax({
            url: '{% url "api:problem-list" %}{{ problem.id }}/',
            dataType: 'text',
            type: 'patch',
            contentType: 'application/x-www-form-urlencoded',
            data: {
                "skeleton": editor.getValue()
            },
            success: function( data, textStatus, jQxhr ){
                toastr.success("Problem Code Updated");
            },
            error: function( jqXhr, textStatus, errorThrown ){
                toastr.error("Unable to update Code");
            }
        });
        }
    )
    </script>
{% endblock javascript %}
{% block css %}
    {{ block.super }}
    <style type="text/css" media="screen">
        #editor {
            height: 600px;
        }
    </style>
{% endblock %}