{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Problems" %}{% endblock title %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">Problems</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row mb-2">
        <div class="col">
            <h3>Problems</h3>
        </div>
        <div class="col">
            <div class="btn-group float-right" role="group" aria-label="Problem Buttons">
                <a class="btn btn-primary" href="{% url 'problem_create' %}">Add new Problem<i class="fa fa-plus ml-1"></i></a>
            </div>
        </div>
    </div>
    <div class="card-columns">
        {% for problem in object_list %}
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title mb-0">{{ problem.title }} <span class="badge badge-secondary ml-2">{{ problem.language.verbose_name }}{% if problem.language.logo_name %}<i
                            class="fab ml-2 fa-{{problem.language.logo_name}}"></i>{% endif %}</span></h5>

                    <p class="card-text"><small class="text-muted">Used by {{ problem.workshopsession_set.all.count }} Workshop{{ problem.workshopsession_set.all.count | pluralize }}</small></p>
                    <a href="{% url "problem_detail" problem.id %}" class="btn btn-primary">Go to Problem</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}