{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'problem_list' %}">Problems</a></li>
    <li class="breadcrumb-item active">{{ object }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>{% block title %}{{ object }}{% endblock title %}</h2>
        </div>
        <div class="col">
            <div class="btn-group float-right" role="group" aria-label="Workshop Buttons">
                <a class="btn btn-danger" href="{% url 'problem_delete' object.id %}">Delete Problem</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h4 class="card-title">Problem Details</h4>
                    {% crispy form %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container-fluid">
                <div id="editor">{{ object.skeleton }}</div>
                <button class="btn btn-success">Save Code</button>
            </div>
        </div>
    </div>

{% endblock content %}
{% block javascript %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js" type="text/javascript"
            charset="utf-8">
    </script>
    <script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/{{ object.language.mode }}");
</script>
{% endblock javascript %}
{% block css %}
    {{ block.super }}
    <style type="text/css" media="screen">
        #editor {
            height: 600px;
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" type="text/css" rel="stylesheet">
{% endblock %}