{% extends "student_base.html" %}
{% block css %}
    {{ block.super }}
    <style>
        #editor {
            /** Setting height is aitlso important, otherwise editor wont showup**/
            height: 500px;
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container-fluid d-flex h-100 flex-column p-0">
        <div class="row">
            <div class="col">
                <h1>{% block title %}{{ problem }}{% endblock %}</h1>
            </div>
        </div>
        <div class="row fill justify-content-start">

            <div class="col-lg-9 p-0">
                <div id="editor">{{ problem.skeleton }}</div>
            </div>
            <div class="col-lg-3">

                        <button type="button" name="submit_code" id="btn-submit"
                                class="btn btn-primary btn-lg btn-block">Submit
                        </button>
                        <h4>Compiler Output</h4>
                        <samp id="p_compiler_output" style="overflow-x: scroll"></samp>
                        <h4>Input</h4>
                        <samp id="p_stdin"></samp>
                        <h4>Output</h4>
                        <samp id="p_stdout"></samp>
                        <h4>Errors</h4>
                        <samp id="p_stderr"></samp>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js" type="text/javascript"
            charset="utf-8">
    </script>
    <script>

        function get_status_type(status_id) {
            switch (status_id) {
                case 1:
                case 2:
                    return "info";
                case 3:
                    return "success";
                case 4:
                    return "warning";
                default:
                    return "error";
            }
        }

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        var editor = ace.edit("editor");
        editor.session.setMode("ace/mode/{{ problem.language.mode }}");
        editor.setAutoScrollEditorIntoView(true);

        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/student_workshop/');

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            console.log(data);

            switch(data["type"]){
                case "problem.ready":
                    var problem = data['problem'];
                    window.location.replace('{% url 'problem_list'%}' + problem + "/student/");
                    break;
                case "submission.status":
                    var notif_type = get_status_type(data["status"]["id"]);
                    toastr[get_status_type(data["status"]["id"])](data["status"]["description"])

                    {# Add Output #}
                    $('#p_compiler_output').text(data["compile_output"]);
                    $('#p_stdin').text(data["stdin"]);
                    $('#p_stdout').text(data["stdout"]);
                    $('#p_stderr').text(data["stderr"]);

            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };


        $('#btn-submit').click(function() {
            if ('Blob' in window) {
                var fileName = 'code.{{ problem.language.extension }}';
                console.log(fileName);
                var textToWrite = editor.getValue();
                var codeFile = new Blob([textToWrite], { type: 'text/plain' });

                var formData = new FormData();
                formData.append('code', codeFile, fileName);
                {% if user.is_authenticated %}
                formData.append('user', {{ request.user.id }});
                {% endif %}
                formData.append('problem', {{ problem.id }});
                formData.append('options', JSON.stringify({
                    session_id: '{{ request.session.session_key }}',
                    workshop_id: {{ request.session.current_workshop_id }}
                }));


                var request = new XMLHttpRequest();
                request.open('POST', '{% url "api:submission-list" %}');
                request.send(formData);
            } else {
                alert('Your browser does not support the HTML5 Blob.');
            }
        });

    </script>
{% endblock %}


