{% extends "student_base.html" %}

{% block content %}
    <div class="container-fluid d-flex h-100 flex-column p-0">
        <div class="row ml-1">
            <div class="col">
                <h1>{% block title %}{{ problem }}{% endblock %}</h1>
            </div>
        </div>
        <div class="row fill justify-content-start">

            <div class="col-lg-9 p-0">
                <div id="editor">{{ problem.skeleton }}</div>
            </div>
            <div class="col-lg-3 p-0">

                <button type="button" name="submit_code" id="btn-submit"
                        class="btn btn-primary btn-lg btn-block">Submit
                </button>

                <div id="accordion">
                    {% for test in object.problemtest_set.all %}
                    <div class="card">
                        <div class="card-header" id="heading{{ test.id }}">
                            <h5 class="mb-0">
                                <button class="btn btn-link btn-block" data-toggle="collapse" data-target="#collapse{{ test.id }}" aria-expanded="true" aria-controls="collapse{{ test.id }}">
                                    {{ test }}
                                    <i id="icon_test_{{ test.id }}" class="text-warning fa fa-question float-right"></i>
                                </button>

                            </h5>
                        </div>

                        <div id="collapse{{ test.id }}" class="collapse{% if forloop.first %} show{% endif %}" aria-labelledby="heading{{ test.id }}" data-parent="#accordion">
                            <div class="card-body">
                                <dl>
                                    <dt>Status</dt>
                                    <dd id="p_stat_{{ test.id }}">Not submitted</dd>
                                    <dt>Program Input</dt>
                                    <dd>{{ test.std_in | linebreaks }}</dd>
                                    <dt>Expected Output</dt>
                                    <dd>{{ test.std_out | linebreaks }}</dd>
                                    <dt>Actual Output</dt>
                                    <dd id="p_out_{{ test.id }}">No Output yet</dd>
                                    <dt>Error Output <button class="btn btn-secondary btn-sm float-right" data-toggle="modal" data-target="#modal_err_{{ test.id }}">Expand</button></dt>
                                    <dd id="p_err_{{ test.id }}">No Output yet</dd>
                                    <dt>Compiler Output <button class="btn btn-secondary btn-sm float-right" data-toggle="modal" data-target="#modal_comp_{{ test.id }}">Expand</button></dt>
                                    <dd id="p_comp_{{ test.id }}">No Output yet</dd>
                                </dl>

                            </div>
                        </div>
                    </div>
                    {% empty %}
                        This Problem has no Tests
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    {% for test in object.problemtest_set.all %}
        <!-- Modal -->
        <div class="modal fade" id="modal_err_{{ test.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_err_{{ test.id }}_label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_err_{{ test.id }}_label">Error output for {{ test }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="modal_p_err_{{ test.id }}"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        #editor {
            /** Setting height is also important, otherwise editor wont showup**/
            height: calc(100vh - 110px);
        }
    </style>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script>

        function get_status_type(status_id) {
            switch (status_id) {
                case 1:
                case 2:
                    return "info";
                case 3:
                    return "success";
                case 4:
                    return "warning";
                default:
                    return "error";
            }
        }

        function get_status_class(status_id) {
            switch (status_id) {
                case 1:
                    return "text-info fas fa-clock float-right";
                case 2:
                    return "text-info fas fa-cogs float-right";
                case 3:
                    return "text-success fas fa-check float-right";
                case 4:
                    return "text-danger fas fa-times float-right";
                default:
                    return "text-danger fas fa-exclamation-triangle float-right";
            }
        }

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        var editor = ace.edit("editor");
        ace.config.set('basePath', "https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/");
        editor.session.setMode("ace/mode/{{ problem.language.mode }}");
        editor.setAutoScrollEditorIntoView(true);
        editor.setTheme('ace/theme/solarized_dark');

        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/student_workshop/');

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);

            switch(data["type"]){
                case "problem.ready":
                    var problem = data['problem'];
                    window.location.replace('{% url 'problem_list'%}' + problem + "/student/");
                    break;
                case "submission.status":
                    {#var notif_type = get_status_type(data["status"]["id"]);#}
                    {#toastr[get_status_type(data["status"]["id"])](data["status"]["description"])#}

                    {# Add Output #}
                    $('#p_comp_'+data['test_id']).text(data["compile_output"]);
                    $('#p_out_'+data['test_id']).text(data["stdout"]);
                    $('#modal_p_out_'+data['test_id']).text(data["stdout"]);
                    $('#p_err_'+data['test_id']).text(data["stderr"]);
                    $('#modal_p_err_'+data['test_id']).text(data["stderr"]);
                    $('#p_stat_'+data['test_id']).text(data["status"]["description"]);
                    $('#icon_test_'+data['test_id']).attr("class",(get_status_class(data["status"]["id"])));
                    break;
                case "workshop.end":
                    window.location.replace('{% url 'workshop_auth'%}');
                    break;

                case "user.message":
                    if (data['message'] === "problem_success") {
                        toastr.success("Well done! This problem has been completed successfully!")
                    }
                    else if (data["message"] === "problem_solved") {
                        toastr.warning("You have already solved this problem.")
                    }
                    else {
                        console.log(data)
                    }
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };


        $('#btn-submit').click(function() {
            if ('Blob' in window) {
                var fileName = 'code.{{ problem.language.extension }}';
                var textToWrite = editor.getValue();
                var codeFile = new Blob([textToWrite], { type: 'text/plain' });

                var formData = new FormData();
                formData.append('code', codeFile, fileName);
                {% if user.is_authenticated %}
                formData.append('user', {{ request.user.id }});
                {% endif %}
                formData.append('problem', {{ problem.id }});
                formData.append('workshop', {{ request.session.current_workshop_id }});
                formData.append('options', JSON.stringify({
                    session_id: '{{ request.session.session_key }}'
                }));


                var request = new XMLHttpRequest();
                request.open('POST', '{% url "api:submission-list" %}');
                request.send(formData);
            } else {
                alert('Your browser does not support the HTML5 Blob.');
            }
        });

    </script>
{% endblock %}


